<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mb-5">
            <h6>
                <i class="bi bi-geo-alt-fill"></i> Endereço
            </h6>
            <p class="fs-6">
                Centro Federal de Educação Tecnológica de Minas Gerais<br>
                Campus V (Divinópolis)<br>
                Rua Álvares de Azevedo, 400 <br>
                Divinópolis, MG - 35503-822 - Brasil
            </p>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.0779217640516!2d-44.91223348449481!3d-20.17248085110604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa0a437069d42b1%3A0x1a8f8a6323c854ff!2sCEFET-MG%2FCampus%20Divin%C3%B3polis!5e0!3m2!1spt-BR!2sbr!4v1659559770660!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="d-flex justify-content-between border-top text-muted">
        <div>
            <p class="fs-6">
                &copy; 2023 CEFET++. Todos os direitos reservados. <br>
                Somos parte do <a href="https://www.cefetmg.br/">CEFET-MG</a>.
            </p>
        </div>
        <ul class="list-unstyled d-flex fs-4">
            <li class="ms-3"><a class="text-muted" href="{{ site.instagram.url }}" target="_blank"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="{{ site.github.url }}"><i class="bi bi-github"></i></a></li>
        </ul>
    </div>
</div>