---
layout: container
---


<div class="row mb-4">
    <div class="col-12">
        <h2 class="border-bottom">News (in porguese)</h2>
    </div>
</div>
<div class="row">
    {% for post in paginator.posts %}
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">{{ post.title }}</h4>
                <small class="card-subtitle mb-2 text-muted">
                    <i class="bi bi-calendar2-check me-1"></i> Published at {{ post.date | date: '%m-%d-%Y' }}
                </small>
                <p class="card-text mt-3 mb-1">
                    {{ post.headline }}
                </p>
                <a class="card-link" href="{{ post.url }}">More...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            <li class="page-item {% if paginator.page == page %} active{% endif %}" aria-current="page">
            {% if page == 1 %}
                <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', '' }}">{{ page }}</a>
            {% else %}
                <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            </li>
        {% endfor %}

        {% if paginator.next_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
