---
layout: container
title: "Notícias"
---


<div class="row mb-4">
    <div class="col-12">
        <h2 class="border-bottom">Notícias</h2>
    </div>
</div>
<div class="row">
    {% for post in paginator.posts %}
    <div class="col-12 mb-3">
        <div class="card">
            <div class="row g-0">
                <div class="col-auto px-3 bg-light date rounded-start">
                    <div class="pt-3" style="min-width: 50px;">
                        <span class="date-month">{{ post.date | date: '%b' }}</span>
                        <span class="date-day">{{ post.date | date: '%d' }}</span>
                        <span class="date-year">{{ post.date | date: '%Y' }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title mb-0">{{ post.title }}</h4>
                        <p class="card-text mt-3 mb-1">
                            {{ post.headline }}
                        </p>
                        <a class="small card-link" href="{{ post.url }}">Saiba mais...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Anterior</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            <li class="page-item {% if paginator.page == page %} active{% endif %}" aria-current="page">
            {% if page == 1 %}
                <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', '' }}">{{ page }}</a>
            {% else %}
                <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            </li>
        {% endfor %}

        {% if paginator.next_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Próxima</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
