/* **************************************************************************
 * Google fonts
 * ************************************************************************** */

 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic');
 @import url('https://fonts.googleapis.com/css?family=Raleway:400,300,700');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400,700&display=swap');


/* **************************************************************************
* General
* ************************************************************************** */

body {
    font-family: "Raleway", sans-serif;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.text-justify {
    text-align: justify;
}



/* **************************************************************************
* Team page
* ************************************************************************** */

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo-text-primary {
    font-weight: 300;
}

.logo-text-secondary {
    font-weight: 200;
    font-size: small;
}

.home-banner {
    position: relative;
    padding: 0px;
    background: rgb(216,216,217);
    background: linear-gradient(90deg, rgba(216,216,217,1) 0%, rgba(85,85,85,1) 25%, rgba(75,75,75,1) 50%, rgba(85,85,85,1) 75%, rgba(216,216,217,1) 100%);
    height: 400px;
    max-height: 400px;
}

.home-banner-bg {
    position: absolute;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    opacity: 0.1;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.home-banner-img {
    position: absolute;
    margin: 0px;
    padding: 0px;
    object-fit: scale-down;
    object-position: center;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.organization-logo img {
    object-fit: scale-down;
    object-position: center;
    width: 158px;
    max-width: 158px;
    max-height: 158px;
}

.team-member p {
    font-size: small;
}

.team-member img {
    object-fit: cover;
    object-position: center;
    width: 158px;
    max-width: 158px;
    height: 158px;
    max-height: 158px;
}
