/* **************************************************************************
 * Google fonts
 * ************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* **************************************************************************
 * General
 * ************************************************************************** */

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.text-justify {
    text-align: justify;
}


/* **************************************************************************
 * Logo
 * ************************************************************************** */

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo-text-primary {
    font-weight: 300;
}

.logo-text-secondary {
    font-weight: 200;
    font-size: small;
}


/* **************************************************************************
 * Cover
 * ************************************************************************** */

.cover {
    min-height: 50vh;
    background-color: rgb(52, 52, 52);
    margin: 0px;
}

.cover a {
    color: var(--bs-light);
}

.cover a:hover {
    color: var(--bs-gray-400);
}


/* **************************************************************************
 * Third-pary logo
 * ************************************************************************** */

@keyframes toColored {
    0%   { filter: grayscale(1); }
    100% { filter: grayscale(0); }
}

.organization-logo-color {
    text-align: center;
}

.organization-logo-color a {
    display: block;
    margin: auto;
}

.organization-logo-color img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: scale-down;
    object-position: center;
    max-width: 158px;
    max-height: 158px;
}

.organization-logo {
    text-align: center;
}

.organization-logo a {
    display: block;
    margin: auto;
    filter: grayscale(1);
}

.organization-logo a:hover {
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: toColored;
}

.organization-logo img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: scale-down;
    object-position: center;
    max-width: 158px;
    max-height: 158px;
}


/* **************************************************************************
 * Date component
 * ************************************************************************** */

.date span {
    display: block;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #686868;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-wrap: break-word;
    text-align: center;
    line-height: 24px;
}

.date-day {
    font-size: 32px;
}

.date-month {
    font-size: 16px;
}

.date-year {
    font-size: 14px;
}


/* **************************************************************************
 * Members' profile
 * ************************************************************************** */

.profile img {
    width: 158px;
    height: 158px;
    object-fit: cover;
    object-position: center;
}

.profile .img-rise {
    margin-top: -55px;
}

.profile .social a {
    color: var(--bs-gray-800);
}

.profile .social a:hover {
    color: var(--bs-gray-600);
}


/* **************************************************************************
 * Map
 * ************************************************************************** */

#map {
    width: 100%;
    aspect-ratio: 2/1;
}


/* **************************************************************************
 * Calendar
 * ************************************************************************** */

#calendar {
    width: 100%;
    aspect-ratio: 4/3;
}
