---
layout: default
permalink: /
lang: pt_BR
---


<!-- Capa -->
<div class="row cover shadow">
    <div class="col-12">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-8 col-md-4 order-1 order-md-2 my-auto mx-auto ms-md-auto me-md-0">
                    <img class="w-100 ratio ratio-1x1" style="object-fit: scale-down;" src="{{ '/assets/images/ninja.png' | relative_url }}">
                </div>
                <div class="col-12 col-md-8 order-2 order-md-1 mb-auto my-md-auto text-light text-center text-md-start">
                    <div class="display-1">CEFET++</div>
                    <div class="d-block d-md-none font-monospace">
                        <div>&gt; equipe de programação competitiva_</div>
                        <div class="mt-4">
                            <a href="{{ site.github.url }}" class="mx-2" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="{{ site.instagram.url }}" class="mx-2" target="_blank"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="d-none d-md-block fs-3 font-monospace">
                        <div>&gt; equipe de programação competitiva_</div>
                        <div class="small mt-4">
                            <a href="{{ site.github.url }}" class="mx-2" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="{{ site.instagram.url }}" class="mx-2" target="_blank"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sobre programação competitiva -->
<div class="row mt-5 mx-0">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 my-auto mx-auto">
                    <img class="w-100 ratio ratio-1x1" style="object-fit: scale-down;" src="{{ '/assets/images/competitive-programming.png' | relative_url }}">
                </div>
                <div class="col-12 col-md-8 my-md-auto">
                    <div class="d-block d-md-none">
                        <div class="mt-3 fs-4 text-center">O que é a programação competitiva?</div>
                        <div class="my-3 fs-6 text-justify">
                            A programação competitiva é um esporte mental, assim como o xadrez, no qual os 
                            participantes precisam escrever programas para a resolução de um conjunto de 
                            problemas que têm suas especificações apresentadas no início da competição.
                        </div>
                    </div>
                    <div class="d-none d-md-block text-center">
                        <h2>O que é a programação competitiva?</h2>
                        <div class="my-4 fs-5">
                            A programação competitiva é um esporte mental, assim como o xadrez, no qual os 
                            participantes precisam escrever programas para a resolução de um conjunto de 
                            problemas que têm suas especificações apresentadas no início da competição.
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-3 col-md-2 organization-logo">
                            <a href="https://mineira.sbc.org.br/" target="_blank">
                                <img src="{{ '/assets/images/maratona-mineira.png' | relative_url }}" alt="Logotipo da Maratona Mineira de Programação" />
                            </a>
                        </div>
                        <div class="col-3 col-md-2 organization-logo">
                            <a href="https://maratona.sbc.org.br/" target="_blank">
                                <img src="{{ '/assets/images/maratona-sbc.png' | relative_url }}" alt="Logotipo da Maratona SBC de Programação" />
                            </a>
                        </div>
                        <div class="col-3 col-md-2 organization-logo">
                            <a href="https://icpc.global/" target="_blank">
                                <img src="{{ '/assets/images/icpc.png' | relative_url }}" alt="Logotipo do ICPC" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Patrocinadores (logos) -->
<div class="row bg-light mt-5 mx-0 py-5">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Apoio e Patrocinadores</h2>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-md-3 organization-logo-color">
                            <a href="https://www.cefetmg.br/" target="_blank">
                                <img src="{{ '/assets/images/cefet-mg.png' | relative_url }}" alt="Logotipo do CEFET-MG" />
                            </a>
                        </div>
                        <div class="col-12 col-md-3 organization-logo-color">
                            <a href="https:///www.crea-mg.org.br/" target="_blank">
                                <img src="{{ '/assets/images/crea-mg.png' | relative_url }}" alt="Logotipo do CREA-MG" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Notícias e agenda -->
<div class="row mt-5 mx-0">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        {% include pt_BR/news.html %}
                    </div>
                </div>
                <div class="col-12 col-md-5 ms-auto">
                    <div class="mb-3">
                        {% include pt_BR/calendar.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
