---
layout: container
permalink: /index-bkp
---


<div class="row">

    <div class="col-12 col-lg-8">
        
        <div class="banner mb-3">
            <img class="banner-bg"  src="{{ '/assets/images/banner.jpg' | relative_url }}">
            <img class="banner-fg"  src="{{ '/assets/images/banner.jpg' | relative_url }}">
        </div>

        <h5>Bem vindo!</h5>
        <p class="text-justify">
            O CEFET++ é a primeira equipe de competição em maratonas de programação do curso de Engenharia de
            Computação do CEFET-MG (Campus Divinópolis). O objetivo desse projeto é dar suporte aos alunos que 
            compõem a equipe na preparação para as competições e no aprimoramento de suas habilidades com 
            técnicas de programação avançada e algoritmos eficientes, essenciais para a solução dos problemas 
            propostos nas competições.
        </p>

    </div>

    <div class="col-12 col-lg-4">

        <!-- Notícias -->
        <div class="mb-3">
            {% include news.html %}
        </div>

        <!-- Agenda -->
        <div class="mb-3">
            {% include calendar.html %}
        </div>
    
    </div>

</div>
