---
layout: container
permalink: /team/
lang: en
title: "Team"
---


<!-- Coaches -->

<div class="row mb-4">
    <div class="col-12">
        <h2 class="border-bottom">Coaches</h2>
    </div>
</div>
<div class="row mb-5">
    {% assign people = site.data.team_coaches %}
    {% for member in people %}
    <div class="col-12 col-lg-6 mb-3 profile" style="margin-top: 60px;">
        <div class="row m-0 p-0 rounded border shadow-sm">
            <div class="col-12 m-0 p-0">
                <img class="d-block img-thumbnail rounded-circle img-rise mx-auto" src="{{ '/assets/images/team' | relative_url }}/{{ member.photo | default: 'avatar.jpg' }}" alt="{{ member.name }}">
            </div>
            <div class="col-12 ps-3 pe-3">
                <h4 class="mt-2 mb-0 text-center">{{ member.name }}</h4>
                <h6 class="mt-1 mb-3 text-center text-muted">{{ member.role }}</h6>
                <hr class="my-2 mb-3">
                <h4 class="text-center social">
                    {% if member.lattes %}<a href="{{ member.lattes }}" class="mx-2"><span class="iconify-inline" data-icon="academicons:lattes"></span></a>{% endif %}
                    {% if member.linkedin %}<a href="{{ member.linkedin }}" class="mx-2"><span class="iconify-inline" data-icon="akar-icons:linkedin-box-fill"></a>{% endif %}
                    {% if member.github %}<a href="{{ member.github }}" class="mx-2"><span class="iconify-inline" data-icon="akar-icons:github-fill"></a>{% endif %}
                    {% if member.codeforces %}<a href="{{ member.codeforces }}" class="mx-2"><span class="iconify-inline" data-icon="simple-icons:codeforces"></a>{% endif %}
                </h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Students -->

<div class="row mb-4">
    <div class="col-12">
        <h2 class="border-bottom">Students</h2>
    </div>
</div>
<div class="row mb-5">
    {% assign people = site.data.team_members | sort: "name" %}
    {% for member in people %}
    <div class="col-12 col-lg-4 mb-3 profile" style="margin-top: 60px;">
        <div class="row m-0 p-0 rounded border shadow-sm">
            <div class="col-12 m-0 p-0">
                <img class="d-block img-thumbnail rounded-circle img-rise mx-auto" src="{{ '/assets/images/team' | relative_url }}/{{ member.photo | default: 'avatar.jpg' }}" alt="{{ member.name }}">
            </div>
            <div class="col-12 ps-3 pe-3">
                <h4 class="mt-2 mb-0 text-center text-truncate">{{ member.name }}</h4>
                <h6 class="mt-1 mb-3 text-center text-muted">{{ member.course }}</h6>
                <hr class="my-2 mb-3">
                <h4 class="text-center social">
                    {% if member.lattes %}<a href="{{ member.lattes }}" class="mx-2"><span class="iconify-inline" data-icon="academicons:lattes"></span></a>{% endif %}
                    {% if member.linkedin %}<a href="{{ member.linkedin }}" class="mx-2"><span class="iconify-inline" data-icon="akar-icons:linkedin-box-fill"></a>{% endif %}
                    {% if member.github %}<a href="{{ member.github }}" class="mx-2"><span class="iconify-inline" data-icon="akar-icons:github-fill"></a>{% endif %}
                    {% if member.codeforces %}<a href="{{ member.codeforces }}" class="mx-2"><span class="iconify-inline" data-icon="simple-icons:codeforces"></a>{% endif %}
                </h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Former Members -->

<div class="row mb-4">
    <div class="col-12">
        <h2 class="border-bottom">Former Members</h2>
    </div>
</div>
<div class="row mb-5">
    {% assign people = site.data.team_alumni | sort: "name" %}
    {% for member in people %}
    <div class="col-12 col-lg-3 mb-3 profile alumni" style="margin-top: 60px;">
        <div class="row m-0 p-0 rounded border shadow-sm">
            <div class="col-12 m-0 p-0">
                <img class="d-block img-thumbnail rounded-circle img-rise mx-auto" src="{{ '/assets/images/team' | relative_url }}/{{ member.photo | default: 'avatar.jpg' }}" alt="{{ member.name }}">
            </div>
            <div class="col-12 ps-3 pe-3">
                <h6 class="mt-2 mb-0 text-center text-truncate">{{ member.name }}</h6>
                <h6 class="text-center social">
                    {% if member.lattes %}<a href="{{ member.lattes }}" class="mx-2"><span class="iconify-inline" data-icon="academicons:lattes"></span></a>{% endif %}
                    {% if member.linkedin %}<a href="{{ member.linkedin }}" class="mx-2"><span class="iconify-inline" data-icon="akar-icons:linkedin-box-fill"></a>{% endif %}
                    {% if member.github %}<a href="{{ member.github }}" class="mx-2"><span class="iconify-inline" data-icon="akar-icons:github-fill"></a>{% endif %}
                </h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>