---
layout: page
permalink: /team/
title: 
---


<h3>Treinadores</h3>
<div class="row mb-5">
    {% assign people = site.data.team_coaches %}
    {% for member in people %}
    <div class="col-12 col-lg-6 mb-3">
        <div class="card team-member">
            <div class="row g-0">
                <div class="col-auto p-2">
                    <img class="img-thumbnail rounded-circle" src="{{ '/assets/images/team' | relative_url }}/{{ member.photo | default: 'avatar.jpg' }}" alt="{{ member.name }}">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h6 class="card-title">{{ member.name }}</h6>
                        <h6 class="card-subtitle text-muted">{{ member.role }}</h6>
                        <p class="card-text mt-3">
                            <i class="bi bi-bank"></i> {{ member.title }} <br>
                            <i class="bi bi-envelope"></i> <a href="mailto:{{ member.email }}">{{ member.email }}</a> <br>
                            <i class="bi bi-file-earmark-person"></i> <a href="http://lattes.cnpq.br/{{ member.lattes }}">CV Lattes</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<h3>Membros</h3>
<div class="row mb-5">
    {% assign people = site.data.team_members | sort: "name" %}
    {% for member in people %}
    <div class="col-12 col-lg-6 mb-3">
        <div class="card team-member">
            <div class="row g-0">
                <div class="col-auto p-2">
                    <img class="img-thumbnail rounded-circle" src="{{ '/assets/images/team' | relative_url }}/{{ member.photo | default: 'avatar.jpg' }}" alt="{{ member.name }}">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h6 class="card-title">{{ member.name }}</h6>
                        <h6 class="card-subtitle text-muted">{{ member.course }}</h6>
                        <p class="card-text mt-3">
                            <i class="bi bi-file-earmark-person"></i> <a href="http://lattes.cnpq.br/{{ member.lattes }}">CV Lattes</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
